<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Vue</title>
  </head>

  <body>
    <div id="app">
      <h2>v-if</h2>
      <p v-if="isActive">你看的到我</p>
      <p v-else>看不到~~~~~</p>
      <button @click="toggle">isActive: {{isActive}}</button>

      <template v-if="isActive">
        <p>你看的到我</p>
        <p>你看的到我</p>
        <p>你看的到我</p>
      </template>

      <template v-else>
        <p>看不到~~~~~</p>
        <p>看不到~~~~~</p>
        <p>看不到~~~~~</p>
      </template>

      <div v-if="type === 0">現在的 type 是 0</div>
      <div v-else-if="type === 1">現在的 type 是 1</div>
      <div v-else>現在的 type 不是 0 或 1</div>
      <button @click="ChangeType">更換 type {{type}}</button>

      <hr />

      <h2>v-show</h2>
      <p v-show="isActive">你看的到我</p>
      <p v-show="!isActive">看不到~~~~~</p>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      const app = createApp({
        data() {
          return {
            isActive: true,
            type: 0,
          };
        },
        methods: {
          toggle() {
            this.isActive = !this.isActive;
          },
          ChangeType() {
            this.type++;
            if (this.type > 2) {
              this.type = 0;
            }
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
